body {
   font-family: 'PT Serif', serif;
   color: #FFF;
   font-style: normal;
   line-height: normal;
   font-weight: 400;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

/* header */

.header {
   width: 1920px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 34px;
   margin-bottom: 34px;
}

.header-title {
   color: #171717;
   font-size: 25px;
   font-weight: 700;
   letter-spacing: 2.5px;
   margin-left: 80px;
   transition: .5s;
}

.header-title:hover {
   transform: scale(1.2);
   color: #C9A96E;
}

.heager-link {
   color: #171717;
   font-size: 14px;
   display: block;
   transition: .5s;
}

.heager-link:hover {
   transform: scale(1.2);
}

.header-nav {
   margin-right: 81px;
}

.header-list {
   display: flex;
   gap: 73px;
}

.header-item :hover {
   color: #C9A96E;
}

.header-item {
   position: relative;
   float: left;
}

.contact-list {
   position: absolute;
   left: 0;
   width: 100px;
   margin-left: -40px;

   display: none;
}

q .contact-item {
   width: 100%;
}

.header-item:hover .contact-list {
   display: block;
}

.contact-desk {
   color: #171717;
}

/* main-section */

.main-section {
   margin: 0 auto;
   width: 1920px;
   background: url(../images/Your\ images\ here.jpg);
   background-repeat: no-repeat;

}

.main-text {
   color: #FFF;
   text-transform: uppercase;
   padding-top: 490px;
   margin-left: 375px;

}

.main-title {
   font-size: 40px;
   font-weight: 700;
   line-height: 50px;
   width: 560px;
   margin-left: 375px;
   margin-bottom: 10px;
}

.data {
   display: flex;
   gap: 15px;
   margin-left: 375px;
}

.main-desk {
   padding-bottom: 59px;
}

/* foto */

.foto {
   width: 1920px;
   margin: 0 auto;
}

.foto-title {
   color: #171717;
   text-align: center;
   font-size: 24px;
   font-weight: 400;
   margin-bottom: 30px;
}

.foto-container {
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-bottom: 50px;
}

.foto-img {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 296px;
height: 394.589px;
}

/* footer */

.footer {
   width: 1920px;
   margin: 0 auto;
}

.footer-title {
   color: #171717;
   font-size: 25px;
   font-weight: 700;
   letter-spacing: 2.5px;
   margin-left: 896px;
   /* box-shadow: 0 5px 10px#C9A96E; */
   transition: .5s;
}

.footer-title:hover {
   transform: scale(1.2);
   color: #C9A96E;
}

.footer-list {
   display: flex;
   gap: 71px;
   justify-content: center;
   margin-bottom: 29px;
}

.footer-ietm :hover {
   color: #C9A96E;
}

.footer-list-svg {
   display: flex;
   gap: 35px;
   justify-content: center;
}

.footer-svg {
   display: block;
}

.footer-item-svg {
   transition: .5s;
}

.footer-item-svg :hover {
   transform: scale(1.2);
   color: #C9A96E;
}

.footer-line {
   background: #E5E5E5;
   width: 1170px;
   height: 1px;
   margin-top: 40px;
   margin-bottom: 29px;
   margin-left: 375px;
}

.footer-text {
   color: #666;
   font-size: 14px;
   margin-left: 851px;
}

.footer-text:hover {
   color: #C9A96E;
}

/* hard */

.hard {
   width: 1920px;
   margin: 0 auto;
   display: flex;
  gap: 130px;
  
}

.card {
   margin-left: 375px;
}

.box-list {
   width: 270px;
}

.box-ltem {
   width: 270px;

}

.box-title {
   color: #171717;
   font-size: 16px;
   border: 1px solid #E5E5E5;
   text-align: center;
   padding: 15px;
}

.box-img {
   width: 270px;
   height: 180px;
}

.div-box {
   margin-top: -5px;
   border: 1px solid #E5E5E5;
}

.box-text {
   color: #171717;
   font-size: 16px;
   font-weight: 700;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 4px;
}

.box-span {
   color: #B1B1B1;
   margin-left: 55px;
   font-style: italic;
   margin-bottom: 14px;
}

.box-dexk {
   color: #666;
   margin-left: 20px;
   line-height: 24px;
   width: 230px;
   text-align: center;
   font-style: italic;
}

.box-link {
   display: block;
   color: #C9A96E;
   font-family: PT Serif;
   font-size: 12px;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 12px;
}

.lin {
   border: 1px solid #E5E5E5;
   margin-bottom: 12px;
}

.data-box {
   display: flex;
   gap: 40px;
   justify-content: center;
}

.data-desk {
   color: #666;
   font-size: 12px;
}

.box-text1 {
   color: #C9A96E;
   font-size: 12px;
   text-transform: uppercase;
   text-align: center;
   margin-top: 12px;
}

.box-img1 {
   margin-top: 40px;
}

.span-data-desk {
   color: #B1B1B1;
   font-size: 12px;
}

.btn {
   margin-top: 45px;
   color: #171717;
   text-align: center;
   font-size: 16px;
   width: 270px;
   height: 50px;
   background: transparent;
   /* border: 1px solid #E5E5E5; */
   cursor: pointer;
   margin-bottom: 34px;
   box-shadow: 0 4px 15px #171717;
   transition: .5s;
}

.btn:hover {
   color: #171717;
   transform: scale(1.2);
   background-color: #C9A96E;;
}

.cize {
   display: flex;
   justify-content: space-between;
}

.cize-dexk {
   color: #666;
   margin-bottom: 15px;
}

.cize-line {
   color: #E5E5E5;
   margin-bottom: 15px;
}

.xxx {
   color: #999;
   font-size: 12px;
   text-align: center;
   margin-top: 5px;
   transition: .5s;
}

.xxx:hover {
   transform: scale(1.2);
}

.cize-list {
   flex-wrap: wrap;
   display: flex;
   margin-left: -43px;
   gap: 3px 3px;
}

.cize-item {
   width: 88px;
   height: 88px;
   background-color: #F8F9FA;
}

.cize-item :hover {
   color: #C9A96E;
}

.cize-svg {
   padding-top: 17px;
   padding-left: 39px;
   transition: .5s;
}

.cize-svg:hover {
   transform: scale(1.2);
}

.tags-list {
   flex-wrap: wrap;
   display: flex;
   margin-left: -43px;
   gap: 10px 10px;
}

.tags-item {
   background-color: #F8F9FA;
   width: 84px;
   height: 30px;
   text-align: center;
}

.tags-item :hover {
   color: #C9A96E;
}

.tags-dexk {
   color: #666;
   margin-top: 6px;
   transition: .5s;
}
.tags-dexk:hover {
   transform: scale(1.2);
}

.card-list {
   width: 770px;
   flex-wrap: wrap;
   display: flex;
   gap: 30px 30px;
}

.card-titlt {
   color: #C9A96E;
font-size: 12px;
text-transform: uppercase;
text-align: center;
margin-top: 15px;
}

.card-text{
   color: #171717;
text-align: center;
font-size: 20px;
line-height: 28px; 
width: 285px;
margin-left: 43px;
margin-top: -4px;
}

.card-desk {
   display: flex;
   gap: 20px;
   margin-left: 102px;
   margin-top: -20px;
}

.data-desk1 {
   color: #666;
font-size: 12px;
}

.span-data-desk1 {
    color: #666;
}

.card-item-span {
   color: #C9A96E;
font-size: 12px;
text-transform: uppercase;
margin-left: 30px;
margin-bottom: 6px;
}

.cart-title {
color: #171717;
font-size: 20px;
font-weight: 400;
   margin-left: 30px;
   margin-bottom: 11px;
}

.cart-div {
   display: flex;
   gap: 20px;
   margin-left: 30px;
}

.card-div-desk {
   color: #666;
font-size: 12px;
}

.card-titlt-text {
   color: #666;
font-size: 14px;
line-height: 24px; 
width: 634px;
margin-left: 30px;
}