body {
   font-family: 'PT Serif', serif;
   color: #FFF;
   font-style: normal;
   line-height: normal;
   font-weight: 400;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

/* header */

.header {
   width: 1920px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 34px;
   margin-bottom: 34px;
}

.header-title {
   color: #171717;
   font-size: 25px;
   font-weight: 700;
   letter-spacing: 2.5px;
   margin-left: 80px;
   transition: .5s;
}

.header-title:hover {
   transform: scale(1.2);
   color: #C9A96E;
}

.heager-link {
   color: #171717;
   font-size: 14px;
   display: block;
   transition: .5s;
}

.heager-link:hover {
   transform: scale(1.2);
}

.header-nav {
   margin-right: 81px;
}

.header-list {
   display: flex;
   gap: 73px;
}

.header-item :hover {
   color: #C9A96E;
}

.header-item {
   position: relative;
   float: left;
}

.contact-list {
   position: absolute;
   left: 0;
   width: 100px;
   margin-left: -40px;

   display: none;
}

q .contact-item {
   width: 100%;
}

.header-item:hover .contact-list {
   display: block;
}

.contact-desk {
   color: #171717;
}

/* main-section */

.main-section {
   margin: 0 auto;
   width: 1920px;
   background: url(../images/Your\ images\ here.jpg);
   background-repeat: no-repeat;

}

.main-text {
   color: #FFF;
   text-transform: uppercase;
   padding-top: 490px;
   margin-left: 375px;

}

.main-title {
   font-size: 40px;
   font-weight: 700;
   line-height: 50px;
   width: 560px;
   margin-left: 375px;
   margin-bottom: 10px;
}

.data {
   display: flex;
   gap: 15px;
   margin-left: 375px;
}

.main-desk {
   padding-bottom: 59px;
}

/* foto */

.foto {
   width: 1920px;
   margin: 0 auto;
}

.foto-title {
   color: #171717;
text-align: center;
font-size: 24px;
font-weight: 400;
margin-bottom: 30px;
}

.foto-container {
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-bottom: 50px;
}

.foto-img {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

/* footer */

.footer {
   width: 1920px;
   margin: 0 auto;
}

.footer-title {
color: #171717;
font-size: 25px;
font-weight: 700;
letter-spacing: 2.5px;
margin-left: 896px;
/* box-shadow: 0 5px 10px#C9A96E; */
transition: .5s;
}

.footer-title:hover {
   transform: scale(1.2);
   color: #C9A96E;
}

.footer-list {
   display: flex;
   gap: 71px;
  justify-content: center;
   margin-bottom: 29px;
}

.footer-ietm :hover {
   color: #C9A96E;
}

.footer-list-svg {
   display: flex;
   gap: 35px;
   justify-content: center;
}

.footer-svg {
   display: block;
}

.footer-item-svg {
   transition: .5s;
}

.footer-item-svg :hover {
   transform: scale(1.2);
   color: #C9A96E;
}

.footer-line {
 background: #E5E5E5;
width: 1170px;
height: 1px;
margin-top: 40px;
margin-bottom: 29px;
margin-left: 375px;
}

.footer-text {
color: #666;
font-size: 14px;
margin-left: 851px;
}

.footer-text:hover{
   color: #C9A96E;
}